    <%- include ('./partials/encabezado_asociado') %>
    <% var suma = 0 %>
    <div class="seccion">
        <div class="container">
            <div class="row">
                <% if(mensaje.length > 0) {%>
                    <h4>
                        <span class='icon-info'></span>
                        <%=mensaje%>
                    </h4>
                <% } %>
            </div>
            <div class="row">
                <div class="col-sm">
                    <h2>Creditos Asociado</h2>
                </div>
                <div class="col-sm">
                    <h5 class="section dark">
                        <span class="icon-calendar"></span>
                        <strong>Fecha Corte:</strong>
                        <%= saldocreditos[0].fecha_corte.getFullYear() %>/
                        <%= saldocreditos[0].fecha_corte.getMonth()+1 %>/
                        <%= saldocreditos[0].fecha_corte.getDate() %>
                    </h5>
                   
                </div>
                
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card fluid">
                         <table class="hoverable scrollable">
                            <!-- <caption>Asociados</caption>    -->
                            <thead>
                                <tr>
                                    <th>Concepto</th>
                                    <th>Numero</th>
                                    <th>Fecha Credito</th>
                                    <th>Valor Inicial</th>
                                    <th>Saldo Capital</th>
                                    <th>Cuotas Iniciales</th>
                                </tr>
                               </thead>
                               <tbody>
                                <% saldocreditos.map((x,ind) =>{  %> 
                                    <tr>
                                       <td data-label="Cedula"><%=x.concepto%></td>
                                       <td data-label="Concepto" style="text-align: center;"><%=x.numero%></td>
                                       <td data-label="Cuota" style="text-align: center;">
                                           <%= x.fecha_credito.getFullYear() %>/
                                           <%= x.fecha_credito.getMonth()+1 %>/
                                           <%= x.fecha_credito.getDate() %>
                                       </td>
                                       <td data-label="Cuota" style="text-align: right;"><%=Intl.NumberFormat().format(x.valor_inicial)%></td>
                                       <td data-label="Total" style="text-align: right;"><%=Intl.NumberFormat().format(x.saldo_capital)%></td>
                                       <td data-label="Total" style="text-align: center;"><%=x.numero_cuotas%></td>
                                    </tr>
                                    <%suma = suma + x.saldo_capital%>
                                    
                                    <% if (ind + 1 == saldocreditos.length){ %>
                                            <tr>
                                                <th scope="row" style="text-align: center;" >Total</td>
                                                 <td>-</td>                                                   
                                                 <td>-</td>
                                                 <td>-</td>
                                                <td style="text-align: right;"><%=Intl.NumberFormat().format(suma)%></td>
                                                <td style="text-align: center;">-</td>
                                            </tr>
                                    <%}%>
                                <% })  %>
                               </tbody>
                         </table> 
                        </div>
                
                    </div>
                </div>
            </div>
        </div>
    </div>       
    <%- include ('./partials/pie') %>

    